@tailwind base;
@tailwind components;
@tailwind utilities;

/* Main three colors 
    1. #4B5563 <Grey>
    2. #FCE7F3 <Light Pink>
    3. Teal
*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100%;
  /* background-color: rgb(50, 49, 49); */
}


@media (min-width: 350px) and (max-width: 650px) {
  .navbar {
    width: 100%;
  }
  .navbar a {
    font-size: 12px;
  }
  .navImg {
    padding-top: 7px;
    width: 50%;
  }
}
